.banner{
    background-image: url("../img/star_wars_episode_viii_the_last_jedi_2017_4k-H.width-808.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}
.menu{
    background-color: rgba(56, 0, 225, 0.876);
}
